:root {
  --basecolor: rgb(238, 225, 190);
  --basecolor-strong: rgb(228, 203, 133);
  --basebackgroundcolor: rgba(238, 225, 190, 0.2);
  --basebackgroundcolor2: rgb(252, 247, 237);
  --base-border-line: 1px solid rgba(0, 0, 0, 0.2);
}
