.body-chatscreen {
  height: 11000vh;
  width: 100%;
  background-color: var(--basebackgroundcolor2);
}

.chat-screen-block {
  margin-top: 35px;
  padding-top: 10px;
  margin-bottom: 10px;
  position: fixed;
  width: 90%;
  box-sizing: border-box;
  background-color: var(--basebackgroundcolor2);
}

.chat-screen__datetime {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-screen__today {
  display: block;
  color: white;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.2);
}

.chat-screen__message {
  display: flex;
  margin-top: 20px;
}

.chat-screen__message-information {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.chat-screen__message-sender {
  padding: 3px 0px;
}

.chat-screen__message-contents {
  display: flex;
}

.chat-screen__message-content {
  background-color: white;
  padding: 8px 8px;
  border-radius: 0px 15px 15px 15px;
  margin-top: 5px;
}

.chat-screen__message-sendtime {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 5px;
}

.flex-direction-reverse .chat-screen__message-contents {
  flex-direction: row-reverse;
}

.flex-direction-reverse {
  justify-content: flex-end;
}

.flex-direction-reverse .chat-screen__message-content {
  background-color: var(--basecolor-strong);
  padding: 8px 8px;
  border-radius: 15px 0px 15px 15px;
  margin-top: 5px;
}

.flex-direction-reverse .chat-screen__message-sendtime {
  margin-right: 5px;
}

.reply-form {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: white;
  transition: background-color 0.4s ease-in-out;
}

.reply__column:first-child {
  width: 10%;
  margin: 0px 3px;
}

.reply__column:last-child {
  width: 90%;
  position: relative;
  box-sizing: border-box;
}

.reply__column:last-child input {
  width: 95%;
}

.reply__column:last-child input {
  padding: 10px 8px;
  font-size: 14px;
  border-radius: 20px;
  background-color: white;
  border: var(--base-border-line);
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 1.8vw;
  top: 2px;
  border-radius: 50%;
}

.reply__column:last-child > i {
  font-size: 25px;
  right: 12vw;
  top: 10px;
}

.reply__column:last-child button {
  width: 35px;
  height: 35px;
  padding: 0px;
  background-color: var(--basecolor-strong);
}

.reply-form:focus-within .fa-smile,
.reply-form:focus-within button,
.reply-form:focus-within .reply__column:first-child {
  opacity: 0;
}

.reply-form .fa-smile,
.reply-form button,
.reply-form .reply__column:first-child {
  transition: opacity 0.3s ease-in-out;
}

.reply-form:focus-within input {
  transform: scaleX(1.14) translateX(-5.3%);
}

.reply-form input {
  transition: transform 0.4s ease-in-out;
}

.reply-form:focus-within {
  background-color: var(--basebackgroundcolor2);
}
