.body-div {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.empty-space {
  height: 20%;
}

.body-friends {
  height: 1000vh;
  width: 100%;
}

.body-basic-width {
  padding: 0px 5%;
}

.body-basic-width-margin {
  margin: 0px 20px;
}

.flex-spacebetween-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-spacebetween-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flex-center-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-spaceevenly-flexend-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

.flex-spaceevenly-flexend-row {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

.font-title {
  font-size: 30px;
}

.font-bold {
  font-weight: 600;
}

.foto-size-big {
  width: 70px;
  height: 70px;
}
.foto-size-normal {
  width: 60px;
  height: 60px;
}
.foto-size-small {
  width: 50px;
  height: 50px;
}
.foto-size-xsmall {
  width: 40px;
  height: 40px;
}
.border-radius-normal {
  border-radius: 10px;
}
.border-radius-big {
  border-radius: 15px;
}

.font-size-xsmall {
  font-size: 13px;
}

.font-size-small {
  font-size: 15px;
}
.font-size-normal {
  font-size: 18px;
}
.font-size-big {
  font-size: 21px;
}

.font-color-normal {
  color: var(--basecolor);
}

.font-color-strong {
  color: var(--basecolor-strong);
}
